{% extends "base.html" %}

{% block styles %} {{ super() }}
<link href="/stylesheets/styles.css" rel="stylesheet" />
<link href="/stylesheets/bootstrap-grid.css" rel="stylesheet" />
<link href="/stylesheets/bootstrap-utilities.css" rel="stylesheet" />
<link href="/stylesheets/color.css" rel="stylesheet" />
{% endblock %}

{% block hero %}
<header class="hero" role="banner">
  <div class="container">
    <img
      alt="OpenTrafficCam Logo - Innovative Verkehrsdatenerfassung"
      src="/assets/img/header.svg"
      loading="eager"
    />

    <div class="hero-heading">
      <h1>OpenTrafficCam</h1>
    </div>
    <div class="hero-subheading">
      <h2>Die transparente Verkehrsdatenerfassung</h2>
    </div>
  </div>
</header>
{% endblock %}