

<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>OpenTrafficCam</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        {% block styles %}
        <link rel="stylesheet" href="assets/stylesheets/main.45e1311d.min.css">
        {% endblock %}
        <link href="stylesheets/bootstrap.css" rel="stylesheet" />
        <link href="stylesheets/styles.css" rel="stylesheet" />
        <link href="stylesheets/bootstrap-grid.css" rel="stylesheet" />
        <link href="stylesheets/bootstrap-utilities.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body id="page-top">

        {% import "partials/language.html" as lang with context %}
        {% include "partials/header.html" %}
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">OPENTRAFFICCAM</div>
                <div class="masthead-heading text-uppercase">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy </div>
            </div>
        </header>
        <section class="page-section" id="otc_information">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Informationen</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>


        </section>
        <section class="page-section bg-light" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-6">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Videoerfassung</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
                    </div>
                    <div class="col-md-6">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Videoverarbeitung</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
                    </div>

                </div>
            </div>
        </section>
        <section class="page-section" id="datenschutz">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">DATENSCHUTZ</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
                </div>
            </div>
        </section>
        <section class="page-section bg-light" id="use_case">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">USE-CASE</h2>
                    <div class="row text-center">
                        <div class="col-md-6">
                            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                            <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
                        </div>
                        <div class="col-md-6" >
                            <img src="assets/img/31343C.svg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section" id="open_source">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">USE-CASE</h2>
                    <div class="row text-center">
                        <div class="col-md-6" >
                            <img src="assets/img/31343C.svg">
                        </div>
                        <div class="col-md-6">
                            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                            <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">TEAM</h2>
                    <div class="row text-center">
                        <div class="col-md-6">
                            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                            <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
                        </div>
                        <div class="col-md-6" >
                            <img src="assets/img/31343C.svg">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="assets/javascripts/bundle.d7c377c4.min.js"></script>
    </body>
</html>
